<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:0;padding:0;background-color:#f5f6f7">
    <div style="color:transparent;opacity:0;font-size:0px;border:0;max-height:1px;width:1px;margin:0px;padding:0px;border-width:0px!important;display:none!important;line-height:0px!important"><img border="0" width="1" height="1" src="https://ci6.googleusercontent.com/proxy/IGk7KY7Y0EziSbylKNdyqcYg-Tm9ppMh5biIS9YXOLW1wjIevGA-f021eBhPT_2XsMZ5fQBOY6QKh5YmXA99lr5BYB4aLZYstUcGgOwG2sLkKD1x83mTkpT-YhZWHvyJuwuMtU06fKVRcjBYF4id0y_FhK8lbg3lTB3TUnKcs1oSi4n24qKVPxXH5IcIqOftd_vaaDqhTcH8PmVX=s0-d-e1-ft#http://post.spmailtechn.com/q/5gjKu3OvyBVqpSxLJX62Tw~~/AAGngAA~/RgRiNbQwPVcDc3BjQgpgUjAvU2A9jxrBUhVseXN0b3BhZGluYUBnbWFpbC5jb21YBAAAAAA~" class="CToWUd"></div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f7" style="padding:0 15px;font-family:'Open Sans',sans-serif!important">
        <tbody><tr>
            <td align="center" valign="top">
                <table width="850" cellpadding="0" cellspacing="0" style="border-collapse:collapse;max-width:850px;width:100%;color:#172a3a">
                    <tbody><tr>
                        <td height="20" style="font-size:20px;line-height:20px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="padding:2px 20px 2px 3px;width:135px">
                            <a href="#" style="display:inline-block" target="_blank">
                                <img src="https://s1.logaster.com/static/v3/img/products/logo.png" alt="SUPER COMPANY" style="width: 170px">
                            </a>
                        </td>
                        <td style="padding-left:20px;border-left:2px solid #e8ebec">
                            <span style="font-size:16px;color:#425363;font-weight:600;line-height:1.58">
                              OLOLOLOLOLOLO
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td height="22" style="font-size:22px;line-height:22px">&nbsp;</td>
                    </tr>
                </tbody>
                </table>
                <table align="center" cellpadding="30" cellspacing="0" style="border-collapse:collapse;max-width:850px;width:100%;color:#172a3a!important;background:white;margin-bottom:30px">
                  <tbody>
                    <tr>
                      <td style="padding-bottom:20px;padding-top:20px">
                        <strong style="font-size:20px;line-height:30px;display:block;margin-top:0;margin-bottom:0;color:#425363">Hello!</strong>
                        <p style="font-size:16px;line-height:24px;display:block;margin-bottom:12px">
                            {{ message }}
                        </p>
                        <p style="font-size:16px;line-height:24px;display:block;margin-top:8px;margin-bottom:0px"> {{ activate_url }} </p>
                        <p style="margin-bottom:0">--</p>
                        <p style="margin-bottom:0;margin-top:0;font-size:14px;line-height:22px">С уважением,</p>
                        <p style="margin-top:0;margin-bottom:0;font-size:14px;line-height:22px">Команда OLOLOLO</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</body>
</html>
