{% extends 'base.html' %}

{% block title %} Update subject {% endblock %}
{% block body %}
<div class="album py-5 bg-light mt-5">
    <div class="container">
         <form action="{% url 'teacher_update' id=teacher.id %}" method="POST" class="d-flex flex-column mx-auto col-md-12 align-items-center">
             {% csrf_token %}
             <div class="col-md-3 mb-4 d-flex flex-row align-items-center">
                {{ teacher_form }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

             <div class="d-flex flex-row mx-auto col-md-12">
                <div class="d-flex flex-column mx-auto col-md-5">
                     {% for student in teacher_students %}
                         <div class="d-flex flex-column card mb-4 box-shadow">
                            {{ student.name }} {{ student.surname }}
                            <button class="btn btn-danger col-md-12" type="submit" name="delete_student" value={{student.id}}>delete student</button>
                        </div>
                     {% endfor %}
                </div>

            <div class="d-flex flex-column mx-auto col-md-5">
             {% for student in no_teacher_students %}
                <div class="d-flex flex-column card mb-4 box-shadow">
                    {{ student.name }} {{ student.surname }}
                    <button class="btn btn-success col-md-12" type="submit" name="add_student" value={{student.id}}>add student</button>
                </div>
             {% endfor %}
             </div>
         </form>
    </div>
</div>
{% endblock %}